@font-face {
  font-family: "Georgia";
  src: url("../../src/fonts/georgia/Georgia-Bold.woff2") format("woff2"), url("../../src/fonts/georgia/Georgia-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: url("../../src/fonts/georgia/Georgia-BoldItalic.woff2") format("woff2"), url("../../src/fonts/georgia/Georgia-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: url("../../src/fonts/georgia/Georgia-Italic.woff2") format("woff2"), url("../../src/fonts/georgia/Georgia-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: url("../../src/fonts/georgia/Georgia.woff2") format("woff2"), url("../../src/fonts/georgia/Georgia.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("../../src/fonts/arial/Arial-ItalicMT.woff2") format("woff2"), url("../../src/fonts/arial/Arial-ItalicMT.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("../../src/fonts/arial/ArialMT.woff2") format("woff2"), url("../../src/fonts/arial/ArialMT.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("../../src/fonts/arial/Arial-BoldMT.woff2") format("woff2"), url("../../src/fonts/arial/Arial-BoldMT.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("../../src/fonts/arial/Arial-BoldItalicMT.woff2") format("woff2"), url("../../src/fonts/arial/Arial-BoldItalicMT.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("../../src/fonts/arial/Arial-Black.woff2") format("woff2"), url("../../src/fonts/arial/Arial-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial Narrow";
  src: url("../../src/fonts/arial/ArialNarrow.woff2") format("woff2"), url("../../src/fonts/arial/ArialNarrow.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial Narrow";
  src: url("../../src/fonts/arial/ArialNarrow-Bold.woff2") format("woff2"), url("../../src/fonts/arial/ArialNarrow-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial Narrow";
  src: url("../../src/fonts/arial/ArialNarrow-Italic.woff2") format("woff2"), url("../../src/fonts/arial/ArialNarrow-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Arial Narrow";
  src: url("../../src/fonts/arial/ArialNarrow-BoldItalic.woff2") format("woff2"), url("../../src/fonts/arial/ArialNarrow-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
.logo, .header, .card-number, .help__item, .help-content, .pet-card, .carousel, .pets-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.donation-content, .help-list, .slider__clip, .carousel__btn, .about-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading, .button, .nav__link, .logo__subtitle, .card-number, .carousel__btn, body, .page {
  transition: all 0.3s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
}

img {
  display: block;
}

button {
  border: none;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

a {
  user-select: none;
}

.wrapper {
  max-width: 1280px;
  margin: auto;
}

.tac {
  text-align: center;
}

.page {
  opacity: 0;
}

body {
  background: url("../../src/img/noise_transparent.png"), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%);
}

.promo {
  background: url("../../src/img/promo/promo-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.promo__wrapper {
  display: flex;
  flex-direction: column;
  gap: 90px;
  padding: 30px 40px 0;
}

.promo-content {
  display: flex;
  justify-content: space-between;
}

.promo-content__description {
  padding-top: 163px;
  display: flex;
  gap: 42px;
  flex-direction: column;
  max-width: 460px;
}

.about {
  background: #fff;
}

.about-content {
  padding: 80px 40px 100px;
}

.about-content__img {
  margin-right: 120px;
}

.about-content__description {
  max-width: 430px;
  max-height: 380px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.pets {
  background: #f6f6f6;
}

.pets-content {
  padding: 80px 40px 100px;
  flex-direction: column;
  gap: 60px;
}

.carousel {
  width: 100%;
}

.carousel__btn {
  min-width: 52px;
  min-height: 52px;
  border-radius: 100px;
  border: 2px solid #f1cdb3;
  cursor: pointer;
}
.carousel__btn:hover {
  background: #fddcc4;
  border: 2px solid #fddcc4;
}

.slider {
  max-width: 990px;
  max-height: 435px;
  overflow: hidden;
  margin: 0 12px;
}

.slider__clip {
  flex-wrap: wrap;
  gap: 90px;
}

.pet-card {
  flex-direction: column;
  gap: 30px;
  padding-bottom: 30px;
  background: #fafafa;
  border-radius: 9px 9px 0 0;
  overflow: hidden;
  cursor: pointer;
}
.pet-card:hover .pet-card__button {
  background: #fddcc4;
  border-color: #fddcc4;
}

.help {
  background: #fff;
}

.help-content {
  padding: 80px 40px 100px;
  flex-direction: column;
  gap: 60px;
}

.help-list {
  flex-wrap: wrap;
  column-gap: 120px;
  row-gap: 55px;
}

.help__item {
  flex-direction: column;
  gap: 30px;
}

.donation {
  background: #f6f6f6;
}

.donation-content {
  padding: 80px 182px 100px;
  gap: 30px;
}

.donation-content__description {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-number {
  border-radius: 9px;
  padding: 10px 15px;
  width: 349px;
  height: 43px;
  background: #f1cdb3;
  cursor: pointer;
}
.card-number .title-h4 {
  line-height: 155%;
}
.card-number:hover {
  background: #fddcc4;
}

.logo {
  flex-direction: column;
  height: 60px;
}
.logo:hover .logo__subtitle {
  color: #fddcc4;
}

.logo__subtitle {
  font-family: "Arial", sans-serif;
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  color: #fff;
}

.nav__list {
  margin-bottom: 5px;
  min-width: 442px;
  display: flex;
  gap: 35px;
}

.nav__item {
  display: block;
  position: relative;
}

.nav__link {
  display: block;
  font-family: "Arial", sans-serif;
  font-size: 15px;
  line-height: 160%;
  color: #cdcdcd;
}
.nav__link:hover {
  color: #f1cdb3;
}

.nav_selected {
  pointer-events: none;
}

.nav_selected::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 3px;
  background: #f1cdb3;
}

.header_pets {
  background: #fff;
}

.footer {
  background: url("../../src/img/footer/footer-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-content {
  padding: 40px 40px 0;
  display: flex;
  justify-content: space-between;
}
.footer-content .title-h3 {
  color: #f6f6f6;
}
.footer-content .title-h4 {
  color: #f1cdb3;
  line-height: 115%;
  text-align: start;
}

.footer-content__links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 234px;
  margin-top: 16px;
}

.footer__link {
  display: flex;
  column-gap: 20px;
  align-items: center;
  justify-content: start;
}
.footer__link .icon {
  display: block;
}

.footer__contacts {
  min-width: 278px;
}

.footer__locations {
  min-width: 302px;
}

.title {
  user-select: none;
  font-family: "Georgia", sans-serif;
  font-weight: 400;
  letter-spacing: 0.06em;
  color: #545454;
}

.title-h1 {
  font-size: 3.2rem;
  line-height: 110%;
  color: #f1cdb3;
}

.title-h2 {
  font-size: 4.4rem;
  line-height: 130%;
  color: #fff;
  letter-spacing: 0;
}

.title-h3 {
  font-size: 3.5rem;
  line-height: 130%;
}

.title-h4 {
  font-size: 2rem;
  text-align: center;
}

.title-h5 {
  font-size: 1.5rem;
  line-height: 110%;
}

.button {
  width: 207px;
  height: 52px;
  border-radius: 100px;
  background: #f1cdb3;
  cursor: pointer;
  font-family: "Georgia", sans-serif;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}

.promo__button:hover {
  background: #fddcc4;
}

.pet-card__button {
  background: none;
  border: 2px solid #f1cdb3;
  width: 187px;
}

.pets__button {
  width: 261px;
}

.pets__button:hover {
  background: #fddcc4;
}

.description {
  user-select: none;
  font-family: "Arial", sans-serif;
  font-size: 1.5rem;
  line-height: 160%;
}

.promo__description {
  color: #cdcdcd;
}

.about__description {
  color: #4c4c4c;
}

.donation__description {
  font-style: italic;
  font-size: 1.2rem;
  line-height: 150%;
  color: #b2b2b2;
}

.icon {
  display: block;
  width: 60px;
  height: 60px;
}

.ico-food {
  background: url("../../src/img/ico/1-icon-pet-food.svg");
}

.ico-transport {
  background: url("../../src/img/ico/2-icon-transportation.svg");
}

.ico-toy {
  background: url("../../src/img/ico/3-icon-toys.svg");
}

.ico-bowl {
  background: url("../../src/img/ico/4-icon-bowls-and-cups.svg");
}

.ico-shampoo {
  background: url("../../src/img/ico/5-icon-shampoos.svg");
}

.ico-vitamin {
  background: url("../../src/img/ico/6-icon-vitamins.svg");
}

.ico-medicine {
  background: url("../../src/img/ico/7-icon-medicines.svg");
}

.ico-collar {
  background: url("../../src/img/ico/8-icon-collars-leashes.svg");
}

.ico-sleep {
  background: url("../../src/img/ico/9-icon-sleeping-area.svg");
}

.ico-card {
  background: url("../../src/img/ico/credit-card.svg");
  width: 30px;
  height: 23px;
}

.ico-email {
  background: url("../../src/img/ico/icon-email.svg");
  width: 40px;
  height: 32px;
}

.ico-phone {
  background: url("../../src/img/ico/icon-phone.svg");
  width: 40px;
  height: 32px;
}

.ico-marker {
  background: url("../../src/img/ico/icon-marker.svg");
  width: 22px;
  height: 32px;
}

.loading {
  width: 48px;
  height: 48px;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #f1cdb3 #f1cdb3 transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #5b483a #5b483a;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}

.loader::before {
  width: 32px;
  height: 32px;
  border-color: #fddcc4 #fddcc4 transparent transparent;
  animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.opacity-0 {
  opacity: 0;
}

.opacity-1 {
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
