.button {
  border-radius: 100px;
  width: 207px;
  height: 52px;
  background: $color-primary;
  font-family: $first-family;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: $color-dark-3xl;
}

.button__promo {
}
