.footer {
  background: url('../../src/img/footer/footer-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-content {
  padding: 40px 40px 0;
  display: flex;
  justify-content: space-between;
  @include media-medium {
    padding: 15px 30px 0;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 60px;
    row-gap: 65px;
  }
  .title-h3 {
    color: $color-light-l;
  }
  .title-h4 {
    color: $color-primary;
    line-height: 115%;
    text-align: start;
  }
}

.footer-content__links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 234px;
  margin-top: 16px;
}

.footer__link {
  display: flex;
  column-gap: 20px;
  align-items: center;
  justify-content: start;
  .icon {
    display: block;
  }
}

.footer__contacts {
  min-width: 278px;
}

.footer__locations {
  min-width: 302px;
}
