@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*, img {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

:root {
    --main-color-1: #8346ff;
    --main-color-2: #3f00bc;
    --main-color-3: #ffc800;
    --text-color-1: #ffffff;
    --text-color-2: #000000;
    --text-color-3: #000000;
}

html {
    font-size: 10px;
    user-select: none;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #ff0000;
}

h1 {
    background-color: #00ff4c;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 48rem;
    height: 100%;
    margin: auto 0;
    background-color: #fff200;
}

main {
    flex-grow: 2;
    width: 100%;
}

.board {
    /* display: flex; */
    overflow: hidden;
    height: 100%;
    background-color: #000000;
}

.space {
    position: relative;
    height: 80%;
}

.rock {
    position: absolute;
    left: 50%;
    top: 0;
    /* transform: translateX(-50%); */
    width: 30px;
    height: 30px;
    /* border-radius: 50%; */
    background-color: #00ff4c;
    background: url(./images/rock.png);
    /* background: no-repeat; */
    /* background-size: contain; */
    animation: rock 5s linear infinite;
    transition: all 2s ease-out;
}

@keyframes rock {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

.ship {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 15vh;
    transition: all 2s ease-out;
}

.planet {
    width: 150%;
}








.footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #ff00ea;
}