*,
::before,
::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, ul, li, a, p, input {
    margin: 0;
    padding: 0;
    font-weight: 400;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
}

.page {
    overflow: hidden;
    width: 100%;
    position: relative;
    max-width: 1440px;
    margin: 0px auto;
}




.overlay {
    /* opacity: 0; */
}

.overlayed {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #0C0C0E;
    opacity: .5;
    z-index: 99;
    transition: 1s;
}

.main {
    margin-bottom: 40px;
}

/*Header*/

.header {
    width: 100%;
    height: 90px;
    background-color: #0C0C0E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    /* top: 0; */
}

.header__logo {
    margin: 20px 0 20px 20px;
}

.header__title a{
    display: block;
    font-family: 'Forum', cursive;
    font-size: 3rem;
    letter-spacing: .06rem;
    line-height: 2;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: color .2s;
}


/*CHANGEEER!!!*/

.header__title a:hover {
    color: #8E8E8E;
}

.header__menu {
    width: 672px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Navigation*/

.nav {
    display: flex;
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__link a{
    display: block;
    margin-right: 30px;
    line-height: 2;
    color: #fff;
    list-style-type: none;
    text-decoration: none;
    transition: color .2s;
    cursor: pointer;
}

.nav__link a:hover {
    color: #8E8E8E;
}

/*Profile*/

.profile {
    margin: 0 20px 0 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 2;
}

.profile__icon {
    width: 28px;
    height: 28px;
}

.icon__ellipse {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 50%;
    transition: background-color .2s;
}

.icon__letters {
    color: #BB945F;
    font-size: 1.4rem;
    text-align: center;
    line-height: 1.6;
    /* letter-spacing: 0.1px; */
}

.icon__ellipse:hover {
    background-color: #8E8E8E;
}

.icon__human {
    padding-top: 3px;
}

.human__head {
    width: 9.33px;
    height: 9.33px;
    background-color: #0C0C0E;
    border-radius: 50%;
    margin: 0 auto 2px;
}

.human__body{
    width: 15.56px;
    height: 7.78px;
    background-color: #0C0C0E;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    margin: 0 auto;
    /* display: none; */
}

.burger__menu {
    display: none;
}

/*profile menu*/

.profile__login {
    position: absolute;
    top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    right: -100px;
    width: 80px;
    height: 115px;
    background-color: #fff;
    z-index: 11;
    font-size: 1.5rem;
    text-align: center;
    opacity: 0;
    transition: .5s;
}

.profile__login__title{
    height: 30px;
    margin-top: 5px;
}
.profile__login__line{
    width: 40px;
    height: 1px;
    background-color: #BB945F;
    margin-bottom: 10px;
}

.profile__login__title p{
    font-weight: 700;
}

.profile__login__menu {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.profile__login__login {
    height: 50%;
    width: 100%;
    padding-top: 5px;
}

.profile__login__register {
    height: 50%;
    margin-bottom: 5px;
}

/*logout menu*/

.logout__menu {
    position: absolute;
    top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    right: -100px;
    width: 80px;
    height: 115px;
    background-color: #fff;
    z-index: 11;
    font-size: 1.5rem;
    text-align: center;
    opacity: 0;
    transition: .5s;
}

.logout__menu__title{
    height: 30px;
    margin-top: 5px;
}
.logout__menu__line{
    width: 40px;
    height: 1px;
    background-color: #BB945F;
    margin-bottom: 10px;
}

.logout__menu__title p{
    font-weight: 700;
    font-size: 1.2rem;
}

.logout__menu__menu {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.logout__menu__profile {
    height: 50%;
    width: 100%;
    padding-top: 5px;
    cursor: pointer;
}

.logout__menu__logout {
    height: 50%;
    margin-bottom: 5px;
    cursor: pointer;
}

.hidden__menu {
    opacity: 1;
    transition: .5s;
    transform: translateX(-120px);
}



/*Register menu*/

.register {
    position: fixed;
    left: 50%;
    top: 125%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 382px;
    background-color: #fff;
    z-index: 102;
    transition: .4s;
    opacity: 0;
}

.show__register {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: .4s;
}

.register__title {
    font-family: 'Forum', cursive;
    font-size: 2rem;
    text-align: center;
    margin-top: 20px;
    letter-spacing: .02rem;
    /* line-height: 2; */
}

.register__form {
    margin-top: 10px;
    padding: 0 12.5px 0 12.5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}

.register__form label {
    margin-bottom: 15px;
    font-size: 1.5rem;
    letter-spacing: .02rem;
    line-height: 1;
}

.register__form input {
    text-align: center;
    /* font-size: 1.3rem; */
    color: #333;
    /* border: none; */
    outline: none;
    width: 200px;
    height: 20px;
    margin-bottom: 10px;
    border: 1px solid #BB945F;
}

.register__input:focus {
    border: 1px solid #333;
    background-color: #eaeaea;
}

.register__btn {
    margin-top: 9px;
    width: 75px;
    height: 30px;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
    border: 1px solid #0C0C0E;
    border-radius: 2px;
    background-color: #fff;
    transition: .3s;
}

.register__btn:hover {
    background-color: #BB945F;
    border: transparent 1px solid;
    /* transition: .2s; */
}

.register__btn:focus {
    background-color: #BB945F;
    border: transparent 1px solid;
    outline: 1px solid #333;
    /* transition: .2s; */
}

.register__btn:active {
    background-color: #d7ac6f;
}

.register__question {
    /* padding: 1px; */
    /* padding-left: 8px; */
    margin-top: 10px;
    display: flex;
    /* justify-content: space-around; */
}

.register__question p:first-child {
    font-size: 1rem;
    margin-left: 14px;
    margin-right: 7px;
    /* letter-spacing: .1; */
}
.register__question p:last-child {
    /* padding: 5px; */
    /* margin-left: 10px; */
    /* padding-left: 20px; */
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: underline;
    cursor: pointer;
}

.register__cross {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.crossline__one {
    position: absolute;
    width: 21.11px;
    height: 3px;
    background-color: #0C0C0E;
    transform: rotate(45deg);
}

.crossline__two {
    position: absolute;
    width: 21.11px;
    height: 3px;
    background-color: #0C0C0E;
    transform: rotate(-45deg);
}





/*Login menu*/

.login__menu {
    position: fixed;
    left: 50%;
    top: 125%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 262px;
    background-color: #fff;
    z-index: 102;
    opacity: 0;
    transition: .4s;

}

.show__login__menu {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: .4s;
}

.login__menu__title {
    font-family: 'Forum', cursive;
    font-size: 2rem;
    text-align: center;
    margin-top: 20px;
    letter-spacing: .02rem;
    /* line-height: 2; */
}

.login__menu__form {
    margin-top: 10px;
    padding: 0 12.5px 0 12.5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}

.login__menu__form label {
    margin-bottom: 15px;
    font-size: 1.5rem;
    letter-spacing: .02rem;
    line-height: 1;
}

.login__menu__form input {
    text-align: center;
    /* font-size: 1.3rem; */
    color: #333;
    /* border: none; */
    outline: none;
    width: 200px;
    height: 20px;
    margin-bottom: 10px;
    border: 1px solid #BB945F;
}

.login__menu__input:focus {
    border: 1px solid #333;
    background-color: #eaeaea;
}

.login__menu__btn {
    margin-top: 9px;
    width: 75px;
    height: 30px;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
    border: 1px solid #0C0C0E;
    border-radius: 2px;
    background-color: #fff;
    transition: .3s;
}

.login__menu__btn:hover {
    background-color: #BB945F;
    border: transparent 1px solid;
    /* transition: .2s; */
}

.login__menu__btn:focus {
    background-color: #BB945F;
    border: transparent 1px solid;
    outline: 1px solid #333;
    /* transition: .2s; */
}

.login__menu__btn:active {
    background-color: #d7ac6f;
}

.login__menu__question {
    margin-top: 10px;
    display: flex;
}

.login__menu__question p:first-child {
    font-size: 1rem;
    margin-left: 14px;
    margin-right: 7px;
}
.login__menu__question p:last-child {
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: underline;
    cursor: pointer;
}

.login__menu__cross {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

/*modal__profile*/

.modal__profile {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: .4s;
    z-index: 102;
    width: 600px;
    height: 400px;
    background-color: #fff;
    display: flex;
}

.modal__profile__left {
    display: flex;
    align-items: center;
    width: 170px;
    min-height: 403px;
    background-color: #0C0C0E;
}

.modal__profile__left__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 120px;
    min-height: 124px;
    margin: 0 auto;
}

.modal__profile__avatar {
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 15px;
    width: 80px;
    height: 80px;
    background-color: #fff;
}

.modal__profile__initials {
    margin: 0 auto;
    text-align: center;
    font-size: 2rem;
    color: #BB945F;
}

.modal__profile__nameblock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 120px;
    min-height: 30px;
    /* white-space: ; */
    background-color: #fff;
}

.modal__profile__fullname {
    text-align: center;
    font-size: 2rem;
    color: #000000;
    word-wrap: break-word;
}

.modal__profile__right {
    /* padding: 30px 20px 30px 20px; */
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */

}

.modal__profile__title {
    font-family: 'Forum', cursive;
    font-size: 4rem;
    margin-top: 30px;
    margin-bottom: 23px;
    line-height: 1;
    letter-spacing: 1px;
}

.modal__profile__items {
    display: flex;
    justify-content: space-between;
    width: 237px;
    min-height: 81px;
}

.modal__profile__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* height: 81px; */
}

.modal__profile__item__title {
    margin-top: 5px;
    font-size: 2rem;
    color: #000000;
}

.modal__profile__item__img {
    width: 20px;
    height: 21px;
    /* margin-top: 10px; */
}

.modal__profile__item__count {
    font-size: 1rem;
    color: #000000;
    /* margin-top: 24px; */
}

.modal__profile__rentedblock {
    width: 380px;
    /* max-height: 125px; */
    margin: 20px 0 10px 0;
}

.modal__profile__subtitle {
    font-size: 2.5rem;
    color: #0C0C0E;
}

.modal__profile__booklist {
    height: 105px;
    padding-left: 30px;
    padding-top: 20px;
    letter-spacing: 1.9px;
    overflow-y:auto;
}

.modal__profile__book {
    font-size: 2rem;
    color: #000000;
    line-height: 1.5;
}

.modal__profile__cardblock {
    display: flex;
    justify-content: space-between;
    width: 280px;
    height: 20px;
}

.modal__profile__cardtitle {
    font-size: 2rem;
    color: #0C0C0E;
}

.modal__profile__cardnumber {
    font-size: 2rem;
    color: #BB945F;
}

.modal__profile__copyicon {
    cursor: pointer;
}

.modal__profile__cross {
    position: relative;
    top: 30px;
    right: 10px;
    width: 15px;
    height: 15px;
    cursor: pointer;
    /* background-color: #fff; */
}






/*Buy Card*/

.buy__card {
    z-index: 102;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: .4s;
    width: 650px;
    height: 540px;
    background-color: #fff;
}

.buy__card__title {
    width: 100%;
    height: 60px;
    /* margin-bottom: 30px; */
    text-align: center;
    font-family: 'Forum', cursive;
    font-size: 4rem;
    color: #fff;
    background-color: #0C0C0E;
    line-height: 1.5;
    letter-spacing: 1px;
}

.buy__card__content {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* vertical-align: middle; */
    padding: 30px 40px 40px 40px;
}

.buy__card__form {
    width: 200px;
    min-height: 410px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
}

.buy__card__form label {
    font-size: 1.5rem;
    color: #000;
    line-height: 20px;
    letter-spacing: .2px;
    margin-bottom: 10px;
}

.buy__card__form input {
    font-size: 1.5rem;
    color: #000;
    border: 1px solid #BB945F;
    outline: none;
    margin-bottom: 10px;
    width: 200px;
    height: 20px;
}

.buy__card__double {
    display: flex;
    /* margin-bottom: 10px; */
}

#buy__card__month,
#buy__card__year,
#buy__card__cvc {
    width: 45px;
    height: 20px;
    margin-right: 10px;
    /* background-color: #ff0000; */
}

#buy__card__cvc {
    margin-bottom: 20px;
}

.buy__card__btnblock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    /* padding-top: 10px; */
}

.buy__card__text {
    width: 330px;
    height: 160px;
    font-size: 1.4rem;
    color: #8E8E8E;
    line-height: 20px;
    letter-spacing: 2.5px;
    /* padding: 30px 50px 0 0; */
}

#buy__card__btn {
    font-family: 'Inter', sans-serif;
    width: 75px;
    height: 30px;
    background-color: #fff;
    font-weight: 900;
    font-size: 1rem;
    border: 1px solid #0C0C0E;
    border-radius: 2px;
    transition: .2s;
    cursor: pointer;
}

#buy__card__btn:hover {
    border: none;
    background-color: #BB945F;
}

#buy__card__btn:active {
    background-color: #ddb071;
}

.buy__card__cost {
    /* width: 88px; */
    font-size: 20px;
    font-weight: 900;
    /* line-height: 2; */
    letter-spacing: 2px;
    /* text-align: center; */
    padding: 8px 10px 0 0;
    /* background-color: #ff1010; */
}

.buy__card__cross {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}

.crossline__one__white {
    position: absolute;
    width: 21.11px;
    height: 3px;
    background-color: #ffffff;
    transform: rotate(45deg);
}

.crossline__two__white {
    position: absolute;
    width: 21.11px;
    height: 3px;
    background-color: #ffffff;
    transform: rotate(-45deg);
}









/*Welcome*/

.section__welcome {
    height: 600px;
    background: url(../images/welcome-bg.jpg);
    position: relative;
}

.welcome__gradient {
    height: 100%;
    background: linear-gradient(#0E0C0C, transparent);
    z-index: 10;
}

.welcome__logo {
    max-width: 100%;
    display: flex;
    width: 597px;
    height: 220px;
    background-color: #0E0C0C;
    position: absolute;
    top: 220px;
    align-items: center;
    justify-content: center;
}

.welcome__logo a {
    text-decoration: none;
}

.welcome__title {
    font-family: 'Forum', cursive;
    font-size: 4rem;
    color: #fff;
    line-height: 1.25;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    margin-left: -3px;
    transition: .2s linear;
}

.welcome__title:hover {
    color: #8E8E8E;
}

/*Section Title*/

.section__title {
    font-family: 'Forum', cursive;
    font-size: 4rem;
    color: #0C0C0E;
    height: 61px;
    line-height: 1.4;
    letter-spacing: 2px;
    text-align: center;
    margin: 13px 0 47px;
}

.section__title::after {
    content: "";
    display: block;
    background-color: #0C0C0E;
    width: 50px;
    height: 1px;
    margin: 10px auto;
}

/*About*/

.section__about {
    height: 823px;
    /* overflow: hidden; */
}

.about__slider {
    overflow: hidden;
}

.section__about p{
    height: 40px;
    color: #000;
    line-height: 2;
    text-align: center;
    margin-bottom: 20px;
}

.about__photos {
    position: relative;
    display: flex;
    margin: 0px 10px 35px 20px;
    transition: 1s;
    left: 0px;
    /* transform: translate(50%); */
    /* transform: translateX(53vw); */
}

.about__photos img {
    display: block;
    /* margin: 0 20px 35px; */
    /* margin: 0 14px 35px; */
    /* margin-left: 20px; */
    margin-right: 25px;
}

.about__photos img:nth-child(2) {
    /* margin: 0 5px 35px; */
}

.about__slider {
    /* position: relative; */
}

.about__btns {
    /* position: relative; */
    display: flex;
    justify-content: center;
    /* left: -1001px; */
}

.about__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    cursor: pointer;
    border-radius: 50%;
}

.about__btn:hover div{
    background-color: #BB945F;
    transition: .2s;
}

.about__btn__active {
    transition: .2s;
    cursor: auto;
}

/* .about__btns div:nth-child(1),
.about__btns div:nth-child(5){
    display: none;
} */

#btn1,
#btn5 {
    display: none;
}


.about__btn__inner {
    width: 16px;
    height: 16px;
    background-color: #0C0C0E;
    border-radius: 50%;
}

.about__btn__active div {
    background-color: #BB945F;
}

/*Favorites*/
.section__favorites {
    height: 1427px;
}

.season__block__title {
    width: 234px;
    height: 24px;
    font-weight: 700;
    font-size: 2rem;
    line-height: auto;
    letter-spacing: auto;
    margin: 0 0 40px 20px;
}









.season__block {
    position: absolute;
    /* background-color: #f2f513; */
    /* width: 700px; */
    /* height: 24px; */
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: start; */
    /* height: 24px; */
    /* margin: 0 0 0 0; */
    margin-left: 20px;
}

.season {
    /* background-color: red; */
    /* width: 25%; */
}

.season__winter {
    width: 192px;
    background-color: rgba(255, 255, 255, 0.75);
    /* opacity: .5; */
}

.season__spring {
    width: 189px;
    background-color: rgba(255, 255, 255, 0.75);

    /* background-color: #ffffff; */

    /* background-color: #b72d2d; */
    /* padding-left: 50px; */
}

.season__summer {
    background-color: rgba(255, 255, 255, 0.75);

    width: 206px;
    /* background-color: #ffffff; */

    /* background-color: #0bb46b; */
}

.season__autumn {
    background-color: rgba(255, 255, 255, 0.75);

    /* background-color: #ffffff; */

    /* background-color: #5f2b8c; */
    width: 116px;
}

.season__label {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* width: 100%; */
    /* background-color: aqua; */
    cursor: pointer;
}

.season__block {
    display: flex;
    /* justify-content: start; */
    /* align-items: center; */
    
    /* margin-right: 81px; */
    /* padding: 5px; */
    /* margin-left: 20px; */
}

.season__block input {
    /* margin: 0 20px 0 0; */
    /* width: 17px; */
    /* height: 17px; */
    /* vertical-align: middle; */
}

.season__input {
    width: 17px;
    height: 17px;
    margin-right: 20px;
    /* display: block; */
    accent-color: #000;
}

.season__span {
    display: block;
    /* letter-spacing: 4.4; */
}

.season__input:checked + .season__span {
    font-weight: bold;
}









.favorites__content {
    margin-top: 40px;
    /* display: grid; */
    /* grid-template-columns: 590px 590px; */
    /* row-gap: 40px; */
    /* column-gap: 220px; */
    /* justify-content: center; */
}

.all__books {
    /* position: relative; */
    display: grid;
    grid-template-columns: 590px 590px;
    row-gap: 40px;
    column-gap: 220px;
    justify-content: center;
    /* display: none; */
}

.winter__books {
    /* position: relative; */
    /* left: 18px; */
    /* display: none; */
}

.spring__books {
    
}

.summer__books {
    
}

.autumn__books {
    
}

.favorite__book {
    position: relative;
    width: 550px;
    height: 555px;
    border: #000 1px solid;
    padding: 15px 20px;
    opacity: 1;
    /* transition: .5s; */
    display: none;
}

.favorite__book h3 {
    height: 45px;
    font-family: 'Forum', cursive;
    font-size: 2rem;
    color: #000;
    line-height: 2;
    letter-spacing: 2px;
}

.favorite__book h3::after {
    content: "";
    display: block;
    background-color: #BB945F;
    width: 60px;
    height: 1px;
}

.favorite__book h4,
.favorite__book h5 {
    margin-top: 20px;
    font-size: 15px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.favorite__book h5 {
    margin: 0 0 20px;
    line-height: 3.2;
    text-transform: capitalize;
}

.favorite__book p {
    width: 355px;
    height: 320px;
    font-size: 15px;
    line-height: 2.65;
    letter-spacing: 1.9px;
    text-transform: capitalize;
    /* display: none; */
}

.btn__buy {
    position: absolute;
    width: 75px;
    height: 30px;
    bottom: 14px;
    left: 20px;
    border: #0C0C0E 1px solid;
    border-radius: 2px;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: auto;
    letter-spacing: 1px;
    color: #0C0C0E;
    background-color: #fff;
    transition: .2s linear;
    cursor: pointer;
    /* visibility: visible; */
}

.btn__buy:hover {
    background-color: #BB945F;
    border: transparent 1px solid;
}

.btn__buy:active {
    background-color: #d7ab6d;
}

.btn__own {
    position: absolute;
    width: 75px;
    height: 30px;
    bottom: 14px;
    left: 20px;
    border: #BB945F 1px solid;
    border-radius: 2px;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: auto;
    letter-spacing: 1px;
    color: #BB945F;
    background-color: #fff;
}

.favorite__book img {
    position: absolute;
    bottom: -2px;
    right: -42px;
}

.hidden__book {
    opacity: 1;
    display: block;
    transition: .2s;
    /* transition: 1s; */
}

/*Coffee Shop*/

.section__coffee {
    height: 841px;
}

.coffee__text {
    margin: 0 18px 37px;
    height: auto;
    line-height: 2;
    letter-spacing: 2px;
    text-align: center;
    align-self: top;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.menu__left {
    width: 441px;
}

.menu__right {
    width: 462px;
}

.menu__title {
    font-family: 'Forum', cursive;
    font-size: 40px;
    letter-spacing: 2px;
    color: #BB945F;
    margin-bottom: 46px;
}

.menu__title__right {
    text-align: end;
}

.menu__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 56px;
}

.menu__item__right {
    justify-content: end;
}

.menu__item-text {
    letter-spacing: 2px;
}

.menu__item-text__right {
    margin-right: 59px;
}

.line__price {
    font-family: 'Forum', cursive;
    letter-spacing: 2px;
    width: 190px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__line {
    width: 100px;
    height: 1px;
    background-color: #BB945F;
}

.menu__price {
    letter-spacing: 2px;
}

/*Contacts*/

.section__contacts {
    margin-bottom: 53px;
}

.section__contacts .section__title {
    margin-top: 0px;
    margin-bottom: 47px;
}

.contacts__content {
    margin: 0px 20px;
    display: flex;
    justify-content: space-between;
}

.contacts h3{
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: 700;
    margin: 8px 0 55px 0;
}

.contacts p {
    font-size: 2rem;
    letter-spacing: 2px;
}

.contacts p a{
    text-decoration: none;
    color: #000;
}

.contacts span {
    font-weight: 700;
}

.map__link img {
    display: block;
}

.contact__text {
    margin-bottom: 36px;
}

.contact__text__bold {
    margin-top: 57px;
    margin-bottom: 36px;
}

/*Cards*/

.cards__content {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 600px;
    height: 453px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.card__header {
    font-size: 3rem;
    text-align: center;
    letter-spacing: .7px;
    margin-bottom: 32px;
}

.card__title {
    font-family: 'Forum', cursive;
    font-size: 3rem;
    letter-spacing: .6px;
    padding: 20px;
    line-height: 1.6;
}

.card__form {
    width: 600px;
    height: 386px;
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 387px;
    border: 3px solid #BB945F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
}

.card__input {
    width: 560px;
    height: 272px;
    background-color: #BB945F;
    margin: 16px auto;
}

.card__input input {
    display: block;
    width: 520px;
    height: 66px;
    margin: 0 auto 26px;
    border: none;
    border-radius: 10px;
    font-family: 'Forum', cursive;
    font-size: 3rem;
    letter-spacing: .6px;
    padding: 0 0 0 20px;
    line-height: 1.6
}

.check__btn {
    font-family: 'Inter', sans-serif;
    color: #0C0C0E;
    width: 242px;
    height: 44px;
    margin: 0 auto;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 4px;
    background-color: #fff;
    border: 1px #0C0C0E solid;
    border-radius: 2px;
    transition: .2s linear;
    cursor: pointer;
}

.check__btn:hover {
    background-color: #BB945F;
    border: transparent 1px solid;
}

.check__btn:active {
    background-color: #dfb272;
    /* border: transparent 1px solid; */
}

.login {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.login__title {
    font-family: 'Forum', cursive;
    font-size: 3rem;
    letter-spacing: 0.6px;
    text-align: end;
    margin-bottom: 37px;
}

.login__text p {
    width: 456px;
    height: 120px;
    text-align: end;
    line-height: 2;
    margin-bottom: 5px;
    letter-spacing: 0.4px;
}

.login__btns {
    display: flex;
    justify-content: end;
}

.login__btn {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    margin: 30px 0 0 21px;
    width: 75px;
    height: 30px;
    background-color: #fff;
    letter-spacing: 1px;
    text-align: center;
    color: #0C0C0E;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    transition: .2s linear;
}

.login__btn:hover {
    background-color: #BB945F;
    border: transparent 1px solid;
}



/*Cards__LOGIN*/

.section__cards__login {
    display: none;
}

.cards__content__login {
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}

.card__login {
    width: 600px;
    height: 453px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.card__header__login {
    font-size: 3rem;
    text-align: center;
    letter-spacing: .7px;
    margin-bottom: 32px;
}

.card__title__login {
    font-family: 'Forum', cursive;
    font-size: 3rem;
    letter-spacing: .6px;
    padding: 20px;
    line-height: 1.6;
}

.card__form__login {
    width: 600px;
    height: 386px;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    width: 600px;
    height: 387px;
    border: 3px solid #BB945F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
}

.card__input__login {
    width: 560px;
    height: 272px;
    background-color: #BB945F;
    margin: 16px auto;
}

.card__input__login input {
    display: block;
    width: 520px;
    height: 66px;
    margin: 0 auto 26px;
    border: none;
    border-radius: 10px;
    font-family: 'Forum', cursive;
    font-size: 3rem;
    letter-spacing: .6px;
    padding: 0 0 0 20px;
    line-height: 1.6;
    outline: none;
    cursor: inherit;
}

.input__login::placeholder {
    color: #BB945F;
}

/* .check__btn__login {
    font-family: 'Inter', sans-serif;
    color: #0C0C0E;
    width: 242px;
    height: 44px;
    margin: 0 auto;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 4px;
    background-color: #fff;
    border: 1px #0C0C0E solid;
    border-radius: 2px;
    transition: .2s linear;
    cursor: pointer;
}

.check__btn__login:hover {
    background-color: #BB945F;
    border: transparent 1px solid;
}

.check__btn__login:active {
    background-color: #dfb272;
    border: transparent 1px solid;
} */

.login__login {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.login__title__login {
    font-family: 'Forum', cursive;
    font-size: 3rem;
    letter-spacing: 0.6px;
    text-align: end;
    margin-bottom: 37px;
}

.login__text__login p {
    width: 456px;
    height: 120px;
    text-align: end;
    line-height: 2;
    margin-bottom: 5px;
    letter-spacing: 0.4px;
}

.login__btns__login {
    display: flex;
    justify-content: end;
}

.profile__btn {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    margin: 70px 0 0 21px;
    width: 75px;
    height: 30px;
    background-color: #fff;
    letter-spacing: 1px;
    text-align: center;
    color: #0C0C0E;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    transition: .2s linear;
}

.profile__btn:hover {
    background-color: #BB945F;
    border: transparent 1px solid;
}

.card__items,
.card__items__login {
    /* vertical-align: middle; */
    margin: 0 auto;
    width: 169px;
    height: 63px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    display: none;
}

.card__items__login {
    display: flex;
}


.card__item {
    height: 63px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 12px; */
}

.card__item__title {
    font-size: 1rem;
}

.card__item__img {
    margin-top: 5px;
}

.card__item__count {
    font-size: 1rem;
}





/*Footer*/

.footer {
    height: 250px;
    background-color: #0C0C0E;
    padding: 20px;
}

.footer__contacts {
    margin-bottom: 30px;
}

.line__up {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.footer__adress {
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    transition: .2s;
}

.footer__adress:hover {
    color: #8E8E8E;
}

.opening__week,
.opening_end {
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    text-align: end;
}

.line__down {
    display: flex;
    justify-content: space-between;
}

.footer__socials {
    display: flex;
}

.footer__socials img{
    display: block;
    margin: 9px 15px 0 0;
}

.footer__rss {
    display: flex;
    justify-content: space-between;
    padding-top: 44px;
    border-top: 1px solid #fff;
}

.footer__rss a{
    display: block;
    width: 33.333333%;
    text-align: center;
    color: #fff;
    letter-spacing: 2px;
    text-decoration: none;
    transition: .2s;
}

.footer__rss a:hover {
    color: #8E8E8E;
}

.footer__year {
    text-align: left;
}

.footer__author {
    text-align: right;
}

/*HIDE*/

.hide {
    left: 50%;
    top: 125%;
    opacity: 0;
    transition: .4s;
    /* display: none !important; */
}

.hide__display {
    /* display: none !important; */
    display: none;
    /* display: block; */
}

        /*Media*/

@media (max-width: 1430px) {
        /*About*/
        .about__slider {
            width: 490px;
            margin: 40px auto -15px;
        }

        .about__photos {
            /* left: -477px; */
        }

        .section__about img {
            /* overflow: hidden; */
            /* margin: 40px auto 20px; */
            /* margin: 40px auto 35px; */
        }

        .about__photos img:nth-child(2),
        .about__photos img:nth-child(3),
        .about__photos img:nth-child(4),
        .about__photos img:nth-child(5) {
            /* display: none; */
        }

        .section__about p{
            height: 40px;
            color: #000;
            line-height: 2;
            text-align: center;
            margin: 0 20px 20px 20px;
        }

        .about__frame {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .carret__left,
        .carret__right {
            width: 24px;
            height: 24px;
            background: url(../images/icons/Vector.svg) no-repeat center;
            margin-top: 60px;
            cursor: pointer;
        }

        .carret__left {
            margin-left: 75px;
        }

        .carret__right {
            margin-right: 75px;
            transform: rotate(180deg);
        }

        .carret__opacity {
            opacity: .2;
            cursor: auto;
        }

        /* .about__btns div:nth-child(4),
        .about__btns div:nth-child(5) {
        display: flex;
        } */
        #btn1,
        #btn5 {
        display: flex;
        }

        /*Favorites*/

        .section__favorites {
            height: 100%;
            /* height: 2575px; */
            margin-top: 39px;
        }

        /* .favorites__content {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        } */
        .favorites__content {
            /* padding-right: 40px; */
            margin-bottom: 53px;
        }

        .all__books {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            padding-right: 40px;
            /* margin-bottom: 13px; */
        }
        .section__favorites {
            /* position: relative; */
        }
        .fixed__season {
            /* width: 100%; */
            /* background-color: #d41111; */
            /* position: fixed; */
            /* top: 0; */
            /* z-index: 100; */
        }

        .sticky {
            position: fixed;
            top: 10px;
            background-color: #ffffff;
            z-index: 10;
            /* border: #000 solid 1px; */

        }

        .section__title {
            /* position: sticky; */
            /* top: 0; */
        }
        
        .season__block {
            /* padding: 10px; */
            /* margin-bottom: 43px; */
            /* background-color: #ff0000; */
            /* opacity: 1; */
            /* width: 100%; */
            /* z-index: 101; */
            /* border: #000 solid 1px; */
        }

        .season__block label {
            /* margin-right: 65px; */
        }

        
}

@media (max-width: 1100px) {
        .section__favorites {
        /* height: 100%; */
            height: 2575px;
        }
        /*Cards*/

        .cards__content {
            display: block;
        }

        .card {
            margin: 0 auto 20px;
        }

        .login {
            margin-right: 0px;
        }
        
        .login__title {
            text-align: center;
        }
        
        .login__text p {
            width: 600px;
            height: 80px;
            text-align: center;
            margin: 2px auto 12px;
        }
        
        .login__btns {
            display: flex;
            justify-content: center;
        }
        
        .login__btn:first-child {
            margin: 30px 21px 0 0;
        }

        .login__btn:last-child {
            margin: 30px 0 0 0;
        }



        .cards__content__login {
            display: block;
        }

        .card__login {
            margin: 0 auto 20px;
        }

        .login__login {
            margin-right: 0px;
        }
        
        .login__title__login {
            text-align: center;
        }
        
        .login__text__login p {
            width: 600px;
            height: 80px;
            text-align: center;
            margin: 2px auto 12px;
        }
        
        .login__btns__login {
            display: flex;
            justify-content: center;
        }
        
        .login__btn__login:first-child {
            margin: 30px 21px 0 0;
        }

        .login__btn__login:last-child {
            margin: 30px 0 0 0;
        }


}



@media (max-width: 1024px) {

        /*Burger menu*/
        .nav {
            position: absolute;
            right: -332px;
            top: 0;
            width: 332px;
            height: 570px;
            background-color: #0C0C0E;
            z-index: 1;
            visibility: hidden;
            transition: transform .5s, visibility .5s;
            will-change: transform, visibility;
        }

        .header__menu.opened .nav {
            transform: translateX(-100%);
            visibility: visible;
        }

        .nav__list {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin-top: 90px;
            margin-bottom: 90px;
        }

        .nav__list li {
            display: block;
            width: 100%;
        }

        .nav__list a {
            width: 100%;
            height: 78px;
            line-height: 4;
            display: inline-block;
            text-align: center;
            margin-right: 0;
        }

        .profile {
            margin: 0 25px 0 29px;
        }

        .profile__login {
            /* top: 60px; */
            /* right: 107px; */

        }

        .hidden__menu {
        transform: translateX(-204px);
        }

        /*Header*/

        .header__menu {
            width: 164px;
        }

        .burger__menu {
            display: block;
            z-index: 2;
            margin-right: 20px;
        }

        .burger__lines {
            position: relative;
            width: 45px;
            height: 45px;
            background-color: transparent;
            border: none;
            outline: none;
            cursor: pointer;
        }

        .burger__line {
            position: absolute;
            display: block;
            width: 45px;
            height: 2px;
            left: 0;
            background-color: #fff;
            transition: opacity .2s, transform .5s;
            will-change: transform;
        }

        /*Three lines*/

        .burger__lines span:nth-child(1){
            transform: translateY(-10px);
        }

        .burger__lines span:nth-child(2) {
            transform: translateY(0px);
        }

        .burger__lines span:nth-child(3) {
            transform: translateY(10px);
        }

        /*Crossburger button*/

        .header__menu.opened .burger__lines span:nth-child(1){
            transform: translateY(0px) rotate(45deg);
        }

        .header__menu.opened .burger__lines span:nth-child(2) {
            opacity: 0;
        }

        .header__menu.opened .burger__lines span:nth-child(3) {
            transform: translateY(0px) rotate(-45deg);
        }

        /*Coffee Shop*/

        .section__coffee {
            height: 100%;
        }

        .menu {
            display: block;
        }

        .menu__right {
            margin: 0 0 63px auto;
        }

        .menu__title__right {
            text-align: end;
            line-height: .85;
        }
        /*Contacts*/

        .contacts__content {
            flex-wrap: wrap;
            justify-content: center;
        }

        .contacts {
            margin-bottom: 108px;
            text-align: center;
        }

        .map {
            margin: 0 auto;
        }

        .map__link img{
            width: 100%;
            max-width: 100%;
        }
}

@media (max-width: 768px) {

        /*Welcome*/

        .section__welcome {
            background: url(../images/welcome-bg-768.jpg);
        }

        .contacts__content {
            justify-content: start;
        }

        .contacts {
            text-align: start;
        }

        /*Footer*/

        .footer {
            width: 100%
        }

        .footer__rss a:nth-child(1) {
            width: 22%;
        }

        .footer__rss a:nth-child(2) {
            width: 47%;
        }

        .footer__rss a:nth-child(3) {
            width: 30%;
        }
}