*,
::before,
::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, ul, li, a, p {
    margin: 0;
    padding: 0;
    font-weight: 400;
}

html {
    font-size: 10px;
}

body {
    /* background-color: red; */
    width: 1440px;
    margin: 0px auto;
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
}

.main {
    margin-bottom: 40px;
}

/*Header*/

.header {
    height: 90px;
    background-color: #0C0C0E;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    margin: 20px 0 20px 20px;
}

.header__title a{
    display: block;
    font-family: 'Forum', cursive;
    font-size: 3rem;
    letter-spacing: .06rem;
    line-height: 2;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: color .2s;
}

.header__title a:hover {
    color: #ccc;
}

.header__menu {
    width: 672px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Navigation*/

.nav {
    display: flex;
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__link a{
    display: block;
    margin-right: 30px;
    line-height: 2;
    color: #fff;
    list-style-type: none;
    text-decoration: none;
    transition: color .2s;
    cursor: pointer;
}

.nav__link a:hover {
    color: #ccc;
}

/*Profile*/

.profile {
    margin: 0 20px 0 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.profile__icon {
    width: 28px;
    height: 28px;
}

.icon__ellipse {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 50%;
    transition: background-color .2s;
}

.icon__ellipse:hover {
    background-color: #ccc;
}

.icon__human {
    padding-top: 3px;
}

.human__head {
    width: 9.33px;
    height: 9.33px;
    background-color: #0C0C0E;
    border-radius: 50%;
    margin: 0 auto 2px;
}

.human__body{
    width: 15.56px;
    height: 7.78px;
    background-color: #0C0C0E;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    margin: 0 auto;
}

/*Welcome*/

.section__welcome {
    height: 600px;
    background: url(../images/welcome-bg.jpg);
    position: relative;
}

.welcome__gradient {
    height: 100%;
    background: linear-gradient(#0E0C0C, transparent);
}

.welcome__logo {
    display: flex;
    width: 597px;
    height: 220px;
    background-color: #0E0C0C;
    position: absolute;
    top: 220px;
    align-items: center;
    justify-content: center;
}

.welcome__title {
    font-family: 'Forum', cursive;
    font-size: 4rem;
    color: #fff;
    line-height: 1.25;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    margin-left: -3px;
}

/*Section Title*/

.section__title {
    font-family: 'Forum', cursive;
    font-size: 4rem;
    color: #0C0C0E;
    height: 61px;
    line-height: 1.4;
    letter-spacing: 2px;
    text-align: center;
    margin: 13px 0 47px;
}

.section__title::after {
    content: "";
    display: block;
    background-color: #0C0C0E;
    width: 50px;
    height: 1px;
    margin: 10px auto;
}

/*About*/

.section__about {
    height: 823px;
}

.section__about p{
    height: 40px;
    color: #000;
    line-height: 2;
    text-align: center;
    margin-bottom: 20px;
}

.about__photos {
    display: flex;
}

.about__photos img {
    display: block;
    margin: 0 20px 35px;
}

.about__photos img:nth-child(2) {
    margin: 0 5px 35px;
}

.about__btns {
    display: flex;
    justify-content: center;
}

.about__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    cursor: pointer;
    border-radius: 50%;
}

.about__btn__inner {
    width: 16px;
    height: 16px;
    background-color: #0C0C0E;
    border-radius: 50%;
}

.about__btn__inner__active {
    background-color: #BB945F;
}

/*Favorites*/
.section__favorites {
    height: 1427px;
}

.season__block__title {
    width: 234px;
    height: 24px;
    font-weight: 700;
    font-size: 2rem;
    line-height: auto;
    letter-spacing: auto;
    margin-left: 20px;
}

.season__block {
    display: flex;
    justify-content: start;
    height: 24px;
    margin: 36px 0 44px 15px;
}

.season__block label {
    display: block;
    margin-right: 81px;
    padding: 5px;
}

.season__block input {
    margin: 0 20px 0 0;
    width: 17px;
    height: 17px;
    vertical-align: middle;
}

.season__input {
    accent-color: #000;
}

.season__input:checked + .season__span {
    font-weight: bold;
}

.favorites__content {
    display: grid;
    grid-template-columns: 590px 590px;
    row-gap: 40px;
    column-gap: 220px;
    justify-content: center;
    /* margin: 10px 14px 26px 14px; */
}

.favorite__book {
    position: relative;
    width: 550px;
    height: 555px;
    border: #000 1px solid;
    padding: 15px 20px;
}

.favorite__book h3 {
    height: 45px;
    font-family: 'Forum', cursive;
    font-size: 2rem;
    color: #000;
    line-height: 2;
    letter-spacing: 2px;
}

.favorite__book h3::after {
    content: "";
    display: block;
    background-color: #BB945F;
    width: 60px;
    height: 1px;
}

.favorite__book h4,
.favorite__book h5 {
    margin-top: 20px;
    font-size: 15px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.favorite__book h5 {
    margin: 0 0 20px;
    line-height: 3.2;
    text-transform: capitalize;
}

.favorite__book p {
    width: 355px;
    height: 320px;
    font-size: 15px;
    line-height: 2.65;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.btn__buy {
    position: absolute;
    width: 75px;
    height: 30px;
    bottom: 14px;
    left: 20px;
    border: #0C0C0E 1px solid;
    border-radius: 2px;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: auto;
    letter-spacing: 1px;
    color: #0C0C0E;
    background-color: #fff;
    transition: .2s linear;
}

.btn__buy:hover {
    background-color: #BB945F;
    border: transparent 1px solid;
}

.btn__own {
    position: absolute;
    width: 75px;
    height: 30px;
    bottom: 14px;
    left: 20px;
    border: #BB945F 1px solid;
    border-radius: 2px;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: auto;
    letter-spacing: 1px;
    color: #BB945F;
    background-color: #fff;
}

.favorite__book img {
    position: absolute;
    bottom: -2px;
    right: -42px;
}

.hidden__book {
    display: none;
}

/*Coffee Shop*/

.section__coffee {
    height: 841px;
}

.coffee__text {
    margin: 0 21px 37px;
    height: auto;
    line-height: 2;
    letter-spacing: 2px;
    text-align: center;
    align-self: top;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.menu__left {
    width: 441px;
}

.menu__right {
    width: 462px;
}

.menu__title {
    font-family: 'Forum', cursive;
    font-size: 40px;
    letter-spacing: 2px;
    color: #BB945F;
    margin-bottom: 46px;
}

.menu__title__right {
    text-align: end;
}

.menu__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 56px;
}

.menu__item__right {
    justify-content: end;
}

.menu__item-text {
    letter-spacing: 2px;
}

.menu__item-text__right {
    margin-right: 59px;
}

.line__price {
    font-family: 'Forum', cursive;
    letter-spacing: 2px;
    width: 190px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__line {
    width: 100px;
    height: 1px;
    background-color: #BB945F;
}

.menu__price {
    letter-spacing: 2px;
}

/*Contacts*/

.section__contacts {
    margin-bottom: 53px;
}

.section__contacts .section__title {
    margin-top: 0px;
    margin-bottom: 47px;
}

.contacts__content {
    margin: 0px 20px;
    display: flex;
    justify-content: space-between;
}

.contacts h3{
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: 700;
    margin: 8px 0 55px 0;
}

.contacts p {
    font-size: 2rem;
    letter-spacing: 2px;
}

.contacts p a{
    text-decoration: none;
    color: #000;
}

.contacts span {
    font-weight: 700;
}

.map__link img {
    display: block;
}

.contact__text {
    margin-bottom: 36px;
}

.contact__text__bold {
    margin-top: 57px;
    margin-bottom: 36px;
}

/*Cards*/

.cards__content {
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 0 0 40px; */
}

.card {
    width: 600px;
    height: 453px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.card__header {
    font-size: 3rem;
    text-align: center;
    letter-spacing: .7px;
    margin-bottom: 32px;
}

.card__title {
    font-family: 'Forum', cursive;
    font-size: 3rem;
    letter-spacing: .6px;
    padding: 20px;
    line-height: 1.6;
}

.card__form {
    width: 600px;
    height: 386px;
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 387px;
    border: 3px solid #BB945F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
}

.card__input {
    width: 560px;
    height: 272px;
    background-color: #BB945F;
    margin: 16px auto;
}

.card__input input {
    display: block;
    width: 520px;
    height: 66px;
    margin: 0 auto 26px;
    border: none;
    border-radius: 10px;
    font-family: 'Forum', cursive;
    font-size: 3rem;
    letter-spacing: .6px;
    padding: 0 0 0 20px;
    line-height: 1.6
}

.check__btn {
    font-family: 'Inter', sans-serif;
    color: #0C0C0E;
    width: 242px;
    height: 44px;
    margin: 0 auto;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 4px;
    background-color: #fff;
    border: 1px #0C0C0E solid;
}

.login {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.login__title {
    font-family: 'Forum', cursive;
    font-size: 3rem;
    letter-spacing: 0.6px;
    text-align: end;
    margin-bottom: 44px;
}

.login__text p {
    text-align: end;
    margin-bottom: 15px;
    letter-spacing: 0.4px;
}

.login__btns {
    display: flex;
    justify-content: end;
}

.login__btn {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    margin: 30px 0 0 21px;
    width: 75px;
    height: 30px;
    background-color: #fff;
    letter-spacing: 1px;
    text-align: center;
    color: #0C0C0E;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    transition: .2s linear;
}

.login__btn:hover {
    background-color: #BB945F;
    border: transparent 1px solid;
}

/*Footer*/

.footer {
    width: 1440px;
    height: 250px;
    background-color: #0C0C0E;
    padding: 20px;
}

.line__up {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.footer__adress {
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
}

.opening__week,
.opening_end {
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    text-align: end;
}

.line__down {
    display: flex;
    justify-content: space-between;
}

.footer__socials {
    display: flex;
}

.footer__socials a{
    display: block;
    margin: 9px 20px 0 0;
}

.footer__rss {
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
}

.footer__rss a{
    display: block;
    width: 33.333333%;
    text-align: center;
    color: #fff;
    letter-spacing: 2px;
    text-decoration: none;
}

.footer__year {
    text-align: left;
}

.footer__author {
    text-align: right;
}