@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*::after, *::before {
    padding: 0;
    margin: 0;
}

:root {
    --red: red; /*test variables*/
}

.material-symbols-outlined {
    width: 30px;
    height: 30px;
    display: flex;
    background-color: #0077ff;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}