@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*::after, *::before {
    padding: 0;
    margin: 0;
}

:root {
    --main-color: #ffffff;
    --main-shadow: rgb(0, 0, 0, 0.15);
    --btn-color: #d900ff;
    --text-color: #333;
    --bar-color: #0800ff;
    --inactive: #e3e3e3;
}

html {
    font-size: 10px;
}

.page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./images/iphone.jpg) no-repeat cover;
}

/*flex center between*/

li,
.pl-head,
.top-bar,
.timer,
.controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*player*/

.player {
    overflow: hidden;
    width: 32rem;
    position: relative;
    border-radius: 1.5rem;
    padding: 2.5rem 3rem;
    background: var(--main-color);
    box-shadow: 0 0.5rem 1.5rem var(--main-shadow);
}

/*volume*/

.volume-area {
    width: 100%;
    margin: 0 3rem;
    height: 1rem;
    background-color: var(--inactive);
    border-radius: 5rem;
    cursor: pointer;
}

.volume-bar {
    position: relative;
    height: inherit;
    width: 50%;
    border-radius: inherit;
    background: linear-gradient(90deg, var(--btn-color) 0%, var(--bar-color) 100%);
}

.volume-bar::before {
    content: "";
    position: absolute;
    height: 1.5rem;
    width: 1.5rem;
    background: var(--bar-color);
    border-radius: inherit;
    top: 50%;
    transform: translateY(-50%);
    right: -.5rem;
    opacity: 0;
    transition: opacity .2s ease;
}

.volume-area:hover .volume-bar::before {
    opacity: 1;
}

/*slider*/

.slider {
    max-width: 25.6rem;
    height: 25.6rem;
    overflow: hidden;
    margin-top: 2.5rem;
    border-radius: 1.5rem;
    box-shadow: 0 0.5rem 1.5rem var(--main-shadow);
    transition: all .2s linear;
    cursor: pointer;
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider:hover {
    box-shadow: 0 0.8rem 1.8rem var(--main-shadow);
}

/*song info*/

.song-info {
    text-align: center;
    margin: 3rem 0;
    color: var(--text-color);
}

.name {
    font-size: 2.1rem;
}

.artist {
    font-size: 1.8rem;
    opacity: 0.9;
}

/*progress bar*/

.progress-area {
    width: 100%;
    height: 1rem;
    background-color: var(--inactive);
    border-radius: 5rem;
    cursor: pointer;
}

.progress-bar {
    position: relative;
    height: inherit;
    width: 50%;
    border-radius: inherit;
    background: linear-gradient(90deg, var(--btn-color) 0%, var(--bar-color) 100%);
}

.progress-bar::before {
    content: "";
    position: absolute;
    height: 1.5rem;
    width: 1.5rem;
    background: var(--bar-color);
    border-radius: inherit;
    top: 50%;
    transform: translateY(-50%);
    right: -.5rem;
    opacity: 0;
    transition: opacity .2s ease;
}

.progress-area:hover .progress-bar::before {
    opacity: 1;
}

.timer {
    margin-top: .5rem;
    cursor: auto;
}

.timer span {
    font-size: 1.3rem;
    color: var(--text-color);
}

/*controls*/

.controls {
    margin: 4rem 0 .5rem;
}

.controls span,
.top-bar span {
    font-size: 3rem;
    user-select: none;
    background: linear-gradient(var(--btn-color) 0%, var(--bar-color) 100%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.controls span:nth-child(2) {
    font-size: 4.3rem;
    margin-right: -1.3rem;
}

.controls span:nth-child(4) {
    font-size: 4.3rem;
    margin-left: -1.3rem;
}

.play-pause {
    width: 5.4rem;
    height: 5.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 0 .5rem var(--btn-color);
    background: linear-gradient(var(--main-color) 0%, var(--inactive) 100%);
}

.play-pause::before {
    content: "";
    position: absolute;
    width: 4.3rem;
    height: 4.3rem;
    background: linear-gradient(var(--btn-color) 0%, var(--bar-color) 100%);
    border-radius: inherit;

}

.play-pause:hover:before {
    background: linear-gradient(var(--bar-color) 0%, var(--btn-color) 100%);
}

.play-pause span {
    position: relative;
    width: 4.3rem;
    height: 4.3rem;
    line-height: 4.3rem;
    text-align: center;
    background: inherit;
    border-radius: inherit;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.playlist {
    position: absolute;
    left: 0;
    width: 100%;
    padding: inherit;
    border-radius: inherit;
    background: inherit;
    box-shadow: inherit;
    bottom: -55%;
    opacity: 0;
    pointer-events: none;
    transition: all .2s ease-out;
}

.playlist.show {
    bottom: 0;
    opacity: 1;
    pointer-events: auto;
}

.pl-head .pl-row {
    display: flex;
    align-items: center;
    color: var(--text-color);
    font-size: 1.9rem;
}

.pl-head .pl-row span{
    cursor: auto;
}

.pl-head .pl-row p{
    margin-left: .5rem;
}

#close {
    color: var(--text-color);
    font-size: 2.4rem;
}

ul {
    overflow-y: auto;
    margin: 1rem 0;
    max-height: 41rem;
}

ul::-webkit-scrollbar {
    width: 0;
}

ul li {
    list-style: none;
    border-bottom: .1rem solid var(--inactive);
    color: var(--text-color);
    padding-bottom: 1rem;
    margin-bottom: .5rem;
    font-size: 1.6rem;
    cursor: pointer;
}

ul li:last-child {
    border-bottom: none;
}

ul li .pl-row span {
    font-size: 1.6rem;
    /* margin-bottom: 1.3rem; */
}

ul li .pl-row p {
    font-size: 1.5rem;
    opacity: .8;
}

.duration {
    font-size: 1.4rem;
    opacity: .8;
}






.material-symbols-outlined {
    /* width: 30px; */
    /* height: 30px; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    cursor: pointer;
}