.about {
  background: $color-light-xl
}

.about-content {
  @extend %center-center;
  padding: 80px 40px 100px;
  @include media-medium {
    flex-direction: column-reverse;
    gap: 80px;
  }
}

.about-content__img {
  margin-right: 120px;
  @include media-medium {
    margin-right: 0;
  }
}

.about-content__description {
  max-width: 430px;
  max-height: 380px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
