.donation {
  background: $color-light-l;
}

.donation-content {
  padding: 80px 182px 100px;
  @extend %center-center;
  gap: 30px;
}

.donation-content__description {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-number {
  @extend %center-between;
  @extend %transition;
  border-radius: 9px;
  padding: 10px 15px;
  width: 349px;
  height: 43px;
  background: $color-primary;
  cursor: pointer;
  .title-h4 {
    line-height: 155%;
  }
  &:hover {
    background: $color-primary-light;
  }
}


