.pets {
  background: $color-light-l;
}

.pets-content {
  padding: 80px 40px 100px;
  @extend %center-between;
  flex-direction: column;
  gap: 60px;
}

.carousel {
  @extend %center-between;
  width: 100%;
}

.carousel__btn {
  @extend %center-center;
  @extend %transition;
  min-width: 52px;
  min-height: 52px;
  border-radius: 100px;
  border: 2px solid $color-primary;
  cursor: pointer;
  &:hover {
    background: $color-primary-light;
    border: 2px solid $color-primary-light;
  }
}

.slider {
  max-width: 990px;
  max-height: 435px;

  overflow: hidden;
  margin: 0 12px;
}

.slider__clip {
  @extend %center-center;
  flex-wrap: wrap;
  gap: 90px;
}

.pet-card {
  @extend %center-between;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 30px;
  background: $color-light-s;
  border-radius: 9px 9px 0 0;
  overflow: hidden;
  cursor: pointer;
  &:hover .pet-card__button {
    background: $color-primary-light;
    border-color: $color-primary-light;
  }
}

// PETS-PAGE

.pets-page {
  .carousel {
    flex-direction: column;
    gap: 45px;
    // background-color: red;
  }
  .slider {
    max-width: 1200px;
    max-height: 930px;
    margin: 0;
  }
  .slider__clip {
    column-gap: 40px;
    row-gap: 30px;
  }
  .pets-navigation {
    @extend %center-between;
    gap: 20px;
  }
}
