.pets {
  background: $color-light-l;
}

.pets-content {
  // padding: 80px 40px 100px;
  padding: 80px 30px 100px 30px;
  @extend %center-between;
  flex-direction: column;
  gap: 50px;
}

.carousel {
  @extend %center-between;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
}

.carousel__btn {
  @extend %center-center;
  @extend %transition;
  min-width: 52px;
  min-height: 52px;
  border-radius: 100px;
  border: 2px solid $color-primary;
  cursor: pointer;
  &:hover {
    background: $color-primary-light;
    border: 2px solid $color-primary-light;
  }
}

.slider {
  max-width: 1010px;
  max-height: 455px;

  overflow: hidden;
  padding-top: 10px;
}

.slider__clip {
  @extend %center-center;
  flex-wrap: wrap;
  gap: 90px;
}

.pet-card {
  @extend %transition;
  @extend %center-between;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 30px;
  background: $color-light-s;
  border-radius: 9px 9px 0 0;
  overflow: hidden;
  cursor: pointer;
  &:hover .pet-card__button {
    background: $color-primary-light;
    border-color: $color-primary-light;
  }
  &:hover {
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.3);
    // filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));
    border-radius: 9px 9px 9px 9px;
  }
}

// PETS-PAGE

.pets-page {
  .carousel {
    padding-right: 0px;
    padding-left: 0px;
    flex-direction: column;
    gap: 50px;
    &__btn_number {
      background: $color-primary;
      border-color: $color-primary;
      pointer-events: none;
    }
    .pets-arrow {
      padding: 4px 1px 6px 1px;
      letter-spacing: 0;
    }
    .inactive-arrow {
      border-color: $color-dark-s;
      pointer-events: none;
      .pets-arrow {
        color: $color-dark-s;
      }
    }
  }
  .slider {
    max-width: 1220px;
    max-height: 920px;
    // margin: 0;
  }
  .slider__clip {
    column-gap: 40px;
    row-gap: 30px;
  }
  .pets-navigation {
    @extend %center-between;
    gap: 20px;
  }
}
