.promo {
  background: $gradient-background-header;
}

.promo__wrapper {
  display: flex;
  flex-direction: column;
  gap: 90px;
  padding: 30px 40px 0;
}

.promo-content {
  display: flex;
  justify-content: space-between;
}

.promo-content__description {
  padding-top: 163px;
  display: flex;
  gap: 42px;
  flex-direction: column;
  max-width: 460px;
}
