.promo {
  background: url('/shelter/src/img/promo/promo-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.promo__wrapper {
  display: flex;
  flex-direction: column;
  gap: 90px;
  padding: 30px 40px 0;
}

.promo-content {
  display: flex;
  justify-content: space-between;
}

.promo-content__description {
  padding-top: 163px;
  display: flex;
  gap: 42px;
  flex-direction: column;
  max-width: 460px;
}
