.tac {
  text-align: center;
}

.pageup {
  transition: all .1s ease-in-out;
  width: 52px;
  height: 52px;
  position: fixed;
  bottom: 40px;
  right: 40px;
}

.invisible {
  visibility: hidden;
  opacity: 0;
}

.inactive {
  pointer-events: none;
}