@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --main-color-1: #8346ff;
    --main-color-2: #3f00bc;
    --main-color-3: #ffc800;
    --text-color-1: #ffffff;
    --text-color-2: #000000;
}

html {
    font-size: 10px;
    user-select: none;
}

/*Header*/
.header {
    padding: 1rem;
}
.header-inner {
    background: linear-gradient(270deg, var(--main-color-1) 0%, var(--main-color-2) 100%);
    display: flex;
    justify-content: space-between;
    border-radius: 1rem;
}

.header-logo {
    display: flex;
    padding: 1rem;
    color: var(--text-color-1);
}

.header-icon {
    color: var(--main-color-3);
    margin: auto 0;
    display: block;
    font-size: 6.1rem;
}

.header-title {
    font-size: 3rem;
    font-weight: 700;
}

.header-subtitle {
    font-size: 1.5rem;
    font-weight: 300;
}

.search-block {
    position: relative;
    display: flex;
    align-items: center;
    padding: 1rem 1.8rem 1rem 1rem;
}

.search-icon {
    position: absolute;
    padding-left: 1rem;
    color: var(--text-color-2);
}

.search-input {
    padding-left: 4rem;
    width: 60vw;
    height: 4.2rem;
    color: var(--text-color-2);
    border-radius: .5rem;
    border: none;
    outline: none;
}

/*Main-block*/

.main-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
}

.images {
    gap: 1.5rem;
    columns: 5 34rem;
}

.card {
    list-style: none;
    margin-bottom: 1rem;
}

.images img{
    border-radius: .5rem;
    width: 100%;
}


.load-more {

}





























/*Media*/

@media (max-width: 920px) {
    .header-inner {
        flex-direction: column;
        align-items: center;
    }

    .header-logo {
        padding: 1rem 0 0;
    }

    .header-icon {
        font-size: 5rem;
    }

    .header-title {
        font-size: 2.5rem;
    }

    .header-subtitle {
        font-size: 1.4rem;
        text-align: right;
    }

    .search-block {
        padding: 1rem;
    }

    .search-input {
    width: 87vw;
    }
}